
//  Si desea manejar html plano puede linkear el colocar el html
	en la carpeta html y llamarlo de la siguiente forma.
	
include html/index.html

//
	extends layout

	block content
		h1= title
		p Welcome to #{title}

		form(action="/db/insert-user",method="post")
			label Enter name
			input(type="text",name="name")
			input(type="submit")