body {
	padding: 50px;
	font: 1.25em "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #121212;
	color: #f2f2f2;
	text-shadow: 3px 2px 2px gray;
}	

a {
  	color: #00B7FF;
}

input {
	margin-bottom: 2em;
	margin-top: 0.5em;
}

input:required {
	outline: 1px solid red;
}