<!DOCTYPE html>
<html>
<head>
	<title>HTML example</title>
	<link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>
<body>
	<section id="Solicitud_Empleo">
		<form action="/db/insert-user",method="post">
			<label>Curriculum</label><br>
			<input type="text" name="curriculum" placeholder="Curriculum">
			<br>
			<label>Equipo Fotografico</label><br>
			<input type="text" name="equipo_fotografico" placeholder="Equipo Fotografico">
			<br>
			<label>Book</label><br>
			<input type="text" name="book" placeholder="Book">
			<br>
			<input type="submit" value="Enviar">
		</form>
	</section>
</body>
</html>

<!-- 6:20 -->