<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Solicitud Fotografo</title>
	<!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
	<link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>
<body>
	<section id="Solicitud_Empleo">
		<form action="/db/insert-user",method="post">
			<label>Curriculum</label><br>
			<input type="text" name="curriculum" placeholder="Nombre del Curriculum">
			<br>
			<label>Equipo Fotografico</label><br>
			<input type="radio" name="equipo_fotografico">Si
			<input type="radio" name="equipo_fotografico">No
			<br>
			<label>Book</label><br>
			<input type="file" name="book">
			<br>
			<input type="submit" value="Enviar">
		</form>
	</section>
</body>
</html>